<div class="d-flex justify-content-center align-items-center">
  <div class="container col-md-6 col-sm-10" style="text-align: left;">
    <h1>welcome to <i class="fa-solid fa-book"></i><span class="font-weight-bold">Bookers</span>!!</h1>
    <p>In <i class="fa-solid fa-book"></i><span class="font-weight-bold">Bookers</span>,</p>
    <p>you can share and exchange your opinions, impressions, and emotions</p>
    <p>about various books!</p>

    <div class="btn-wrapper">
      <a class="btn btn-sm btn-block mb-3 text-white" href="<%= new_user_session_path %>" style="background-color:#17a2b8;">Log in</a>
      <a class="btn btn-sm btn-block text-white" href="<%= new_user_registration_path %>" style="background-color:#28a745;">Sign up</a>
    </div>
  </div>
</div>